<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
    <div class="col-md-4">
		<div class="form_main">
                <h4 class="heading"><strong>Form Peminjaman</strong> <span></span></h4>
                <div class="form">
                <form method="post" id="contactFrm" name="contactFrm">
                    <span>Nama Barang :</span>
                    <br><input type="text" required=""  value="" name="nama_barang" class="txt">
                    <br><br><span>No. Seri: </span>
                    <br><input type="text" required=""  value="" name="no_seri" class="txt">
                    <br><br><span>Kondisi Barang :</span>
                    <br><input type="text" required=""  value="" name="kondisi" class="txt">
                    <br><br><span>ID Karyawan :</span>
                    <br><input type="text" required=""  value="" name="id_karyawan" class="txt">
                    <br><br><span>Tanggal Peminjaman :</span>
                    <br><input type="text" required=""  value="" name="tanggal_pinjam" class="txt">
                    <br><br><span>Tanggal Pengembalian :</span>
                    <br><input type="text" required=""  value="" name="tanggal_kembali" class="txt">
                    <br><br><span>Keperluan :</span>
                    <br><input type="text" required=""  value="" name="keperluan" class="txt">
                    <!-- <br><br><span>Keperluan: </span><br>
                	<textarea placeholder="Your Message" name="mess" type="text" class="txt_3"></textarea> -->
                    <br><br><span>Status :</span>
                    <br><input type="text" required=""  value="" name="status" class="txt">
                    
                    
                    <br><br><input type="submit" value="submit" name="submit" class="txt2">
                </form>
            </div>
            </div>
            </div
	</div>
</div>